name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]
        python-version: ["3.10", "3.14"]
        include:
          - os: windows-2022
            python-version: ""
    defaults:
      run:
        shell: ${{ matrix.os == 'windows-2022' && 'msys2 {0}' || 'bash' }}
    steps:
      - name: Set up MSYS2
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-python
            mingw-w64-x86_64-python-pip
            mingw-w64-x86_64-python-numpy
            mingw-w64-x86_64-python-pytest
            mingw-w64-x86_64-python-maturin
            mingw-w64-x86_64-rust
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-clang
            mingw-w64-x86_64-cmake
            diffutils
            m4
            make
            git
            curl
      - name: Check out repo
        uses: actions/checkout@v5
      - name: Set up Python
        if: runner.os != 'Windows'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pip install the package
        run: CC=clang python -m pip install .[tests]
      - name: Run pytest
        run: |
          pytest -vv

  check-python:
    name: Check Python
    if: always()
    needs: [build-and-test]
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
